html{
    background: lightblue;
}

/*
#wrapper{
    position: relative;
    height: 200px;
    widows: 5vw;
    background-color: #cc0069;
}
*/
#ground{
    width:100vw;
    height: 10px;
    background-color: #5e5e5e;
}

.legs{
    position: relative;
    width:50px;
    height: 150px;
    background-color: #21ff00;
    display: inline-block;
}

#legTwo{
    background-color: #15a500;
}

.foot{
    position: absolute;
    left:10px;
    bottom: 0;
    background-color: black;
    width:50px;
    height: 30px;
    border-top-left-radius: 20px;
    
}