@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Stylish');

html,
body {
    margin: 5%;
    background-color: beige;
}
h1 {
    color: lightskyblue;
    font-family: 'press start 2P';
    text-align: center;
}

#container {
     color: coral;
    font-family: 'press start 2P';
    text-align: center;
}

