body{
    position: relative;
}

.pond {
    margin-left: 30%;
    width: 50%;
    position: absolute;
}

#myDIV {
    margin-left: 30%;
    position: absolute;
    top:7%;
    z-index: 2;
}

#button{
    margin-left: 50%;
    position: absolute;
    top: 5%;
    left: 20px;
}

#myDIV2 {
    position: absolute;
    width: 60%;
    margin-top: 55%;
    margin-left: 10%
  
}

.monkey {
    position: absolute;
    width: 45%;
    margin-top: 60%;
    margin-left: 21%;
}

#button2{
    margin-left: 30%;
    position: absolute;
    margin-top: 50%;
    left: 20px;
}

