.square1 {
    height: 600px;
    width: 600px;
    background-color: red;
    margin:10px;
}
    
.smallsquare {
    background-color: aqua;
    height:300px;
    width:300px;
    margin-left: 50%;
}
    
.square2{
    width:600px;
    height:600px;
    background-color: blue;
    margin:10px;
}
    
 .smallsquare2_1{
    width: 50%;
    height: 25%;
    background-color: pink;
    margin-left: 50%;
 }
    
.smallsquare2_2{
    width: 50%;
    height: 50%;
    background-color: pink;
    margin-top: 25%;
}  

.square3 {
    height: 600px;
    width: 600px;
    background-color: red;  
    margin: 10px;
}

.smallsquare3_1{
    width: 50%;
    height: 50%;
    background-color: purple;
    margin-left: 25%;
    margin-top: 25%;
    display: inline-block;
}

.square4{
    width:600px;
    height:600px;
    background-color: white;
}

.square4_1{
    width: 50%;
    height: 50%;
    background-color: aquamarine;
}

.square4_2{
    width: 50%;
    height: 50%;
    background-color: red;
    float: right;
}
 
.square4_3{
    width: 50%;
    height: 50%;
    background-color: yellow;
    display: inline-block;
    margin-bottom: 300px;
}

.square5{
    width:600px;
    height:600px;
    background-color: blue;
    margin:10px;
}

.square5_1{
    width: 50%;
    height: 25%;
    background-color: yellow;
    display: inline-block;
}

.square5_2{
    width: 50%;
    height: 25%;
    background-color: orange;
    margin-left: 50%;
    margin-bottom: 25%;
    float: top;
}

.square5_3{
    width: 50%;
    height: 25%;
    background-color: orange;
    margin: 25%;
    margin-bottom: 25%;
}

.square6{
    width:600px;
    height:600px;
    background-color: red;
    margin:10px;
}