@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Raleway');

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Megrim');


@keyframes timeOfDay{
	0%{
		background-color: #8283a7;
	}

	10%{
		background-color: #a5d296;
	}

	40%{
		background-color: #f1bbba;
	}

	60%{
		background-color: #ffde72;
	}

	75%{
		background-color: #a00055;
	}

	80%{
		background-color: #F7AA97;
	}

	100%{
		background-color: #9baec8;
	}
}

html{
	background-color: lightblue;
	animation-name: timeOfDay;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}

ul li{
    margin-top: 1%;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
}

.class{
    margin-left: 40%;
    margin-top: 20%;
    font-size: 30px;
    font-family: 'Megrim', cursive;
}

.class ul li{
    font-family: 'Megrim', cursive;
    background-color: white;
}

.class ul li:hover{
    background-color: #d64072;
}

.classmate{
    margin-left: 40%;
    margin-top: 30%;
}

.classmate ul li{
    font-size: 20px;
    font-family: 'Megrim', cursive;
    background-color: white;
}

.classmate ul li:hover{
    background-color: #5A9367;
}

