@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Megrim');

ul li{
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
}

.lab ul li{
    font-family: 'Megrim';
    margin-top: 5%;
    margin-left: 40%;
    font-size: 30px;
}

.lab ul li:hover{
    background-color: aqua;
}
