*{
    font-size: 25px;
}

#myElement{
    color:red;
    text-decoration: line-through;
    background-color: pink;
}

#myList{
    color:blue;
}

#myListElement{
    color:green;
}

.newClass{
    font-size: 50px;
    text-decoration: line-through;
    background-color: pink;
}