   
/*
<div id="head">
    <div class="mouth" id="mouthOne"></div>
    <div class="mouth" id="mouthTwo"></div> 
</div>
   
   <div class="arms" id="armOne"></div>
   <div class="arms" id="armTwo"></div> 
    
    <div id="body">
        <div class="legs" id="legOne"></div>
        <div class="legs" id="legTwo"></div>
    </div>

*/


@keyframes timeOfDay{
	0%{
		background-color: #262626;
	}

	10%{
		background-color: #8cfff9;
	}

	40%{
		background-color: #f1ff87;
	}

	60%{
		background-color: #ffde72;
	}

	75%{
		background-color: #a00055;
	}

	80%{
		background-color: #262626;
	}

	100%{
		background-color: #262626;
	}
}

html{
	background-color: lightblue;
	animation-name: timeOfDay;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}



#head {
    width: 200px;
	height: 200px;
	background-color: yellow;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-left: 41%;
    margin-top:7%;
}

#body{
	width: 240px;
	height: 250px;
	background-color: yellow;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
    border-bottom-left-radius: 80px;
	border-bottom-right-radius: 80px;
    margin-left: 39.5%;
}

@keyframes armOne{
	0%{
		transform:rotate(20deg);
	}

	50%{
		transform:rotate(40deg);
	}

	100%{
		transform:rotate(20deg);
	}
}

@keyframes armTwo{
	0%{
		transform:rotate(-20deg);
	}

	50%{
		transform:rotate(-40deg);
	}

	100%{
		transform:rotate(-20deg);
	}
}

#armOne{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 10px;
    width: 50px;
    height: 140px;
    background-color: yellow;
    transform: rotate(8deg);
    margin-left: 34.5%;
    margin-top: 2%;
    position: absolute;
}

#armTwo{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 10px;
    width: 50px;
    height: 140px;
    background-color: yellow;
    margin-left:58.5%;
    transform: rotate(-8deg);
    margin-top: 2%;
    position: absolute;
}

#armOne{
    animation-name: armOne;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#armTwo{
    animation-name: armTwo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes legOne{
	0%{
		transform: rotate(40deg);
	}

	50%{
		transform: rotate(60deg);
	}

	100%{
		transform: rotate(40deg);
	}
}

@keyframes legTwo{
	0%{
		transform: rotate(-40deg);
	}

	50%{
		transform: rotate(-60deg);
	}

	100%{
		transform: rotate(-40deg);
	}
}

#legOne{
    animation-name: legOne;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#legTwo{
    animation-name: legTwo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#legOne{
    width: 100px;
    height: 100px;
    background-color: orange;
    transform: rotate(40deg);
    position: absolute;
    margin-top: 12%;
    border-radius: 10px;
}

#legTwo{
    width: 100px;
    height: 100px;
    background-color: orange;
    transform: rotate(40deg);
    position: absolute;
    margin-top: 12%;
    margin-left: 12%;
    border-radius: 10px;
}

@keyframes mouthOne{
	0%{
		top:0%;
	}

	50%{
		top:2%;
	}

	100%{
		top:0;
	}
}

@keyframes mouthTwo{
	0%{
		top:1%;
	}
    
    25%{
        top:0.5%;
    }
    
	50%{
		top:0%;
	}
    
    75%{
        top:0.5%;
    }
    
	100%{
		top:1;
	}
}

#mouthOne{
    animation-name: mouthOne;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#mouthTwo{
    animation-name: mouthTwo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#mouthOne{
    width: 120px;
    height: 50px;
    background-color: orange;
    border-radius: 100px;
    margin-top: 14%;
    margin-left: 3%;
    position: absolute; 
}

#mouthTwo{
    width: 80px;
    height: 30px;
    background-color: orange;
    border-radius: 100px;
    margin-left: 4.5%;
    margin-top: 17%;
    position: absolute;
}

#left{
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 20px;
    margin-left: 3%;
    margin-top: 4%;
    position: absolute;
}

#right{
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 20px;
    margin-left: 10.5%;
    margin-top: 4%;
    position: absolute;
}