@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Megrim');

ul li{
    margin-top: 1%;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
}

.studio ul li{
    font-family: 'Megrim';
    margin-bottom: 5%;
    margin-left: 40%;
    font-size: 30px;
}

.studio ul li:hover{
    background-color: yellow;
}
